@use 'sass:map';
@use './_variables.scss' as v;

@mixin responsive($key) {
  @media (min-width: map.get(v.$breakpoints, $key)) {
    @content;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis-lines($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
