@use './_variables.scss' as v;

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  color: v.$text-color;
  background: v.$bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100%;
}

.content-wrapper {
  padding: v.$gap-md;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: v.$border-color;
  border-radius: 5px;
}
